html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(195, 160, 1), #e0cd1a);
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav .nav-link:hover {
    text-decoration: none !important;
    font-weight: bold;
}

.container-fluid {
    height: auto;
    background-image: linear-gradient(to right, rgb(195, 160, 1), #e0cd1a);
}

.main {
    margin-top: 150px;
}


header,
nav,
ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul li {
    margin-left: 1rem;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important;
    }
}

.grade {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
    background-color: rgb(59, 25, 121);
    margin-bottom: 1em;
    color: #FFF;
}

@media (max-width: 640px) {
    .card {
        width: 48%;
    }
}

@media (max-width: 460px) {
    .card {
        width: 100%;
    }
}

.card button {
    border: none;
    border-radius: 50px;
    color: rgb(59, 25, 121);
    font-weight: bolder;
    padding: 0.2em 0.7em;
    transition: .2s;
}

.card button:hover {
    color: #FFF;
    background-color: #008757;
}


.grade .item {
    width: 24%;
    position: relative;
    text-align: center;
}

.item h2 {
    font-size: 1em;
}

.categoria {
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translate(-30%, -70%);
}

@media (max-width: 590px) {
    .grade .item {
        width: 48%;
    }
}


.grade .item img {
    border-radius: 10px;
    width: 100%;
}