html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(195, 160, 1), #e0cd1a);
}

body{
    overflow-x: hidden;
}

header {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav .nav-link:hover {
    text-decoration: none !important;
    font-weight: bold;
}

.container-fluid {
    height: auto;
    background-image: linear-gradient(to right, rgb(195, 160, 1), #e0cd1a);
}

.main{
    margin-top: 150px;
}


header, nav, ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
   }
   
   nav ul li {
    margin-left: 1rem;
   }


   @media (min-width: 1200px){
    .container {
        max-width: 1300px !important;
    }}


    
    .carousel-inner .carousel-item{
    height: 40%;
    width: 40%;

}

.carousel {
    position: relative;
    align-items: center;
}